*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei' ;
}

#content{
    padding-top: 80px;
}


.Accont_content_100w{
    width: 100%;
    border-bottom: 2px #000 solid;
}

.Accont_content{
    margin: 0px 100px;
    padding-bottom: 30px;
}

.Accountimg{
    width: 300px;
    border: solid;
    /* height: 300px; */
    height: 300px;
    background-size: cover;
}


.Carousellastimgul{
    height: 100%;
    width: 100%;
    overflow: hidden;
    list-style: none;
}

.Carouselnextbtn{
    background-color:#ffffffa0;
    border-radius:100%;
    border: none;
    right:7px;
    top:40%;
    text-align:center;
    width: 35px;
    height: 35px;
    z-index: 2;
    line-height: 15px;
    cursor: pointer;
}

.Carousellastbtn{
    background-color:#ffffffa0;
    border-radius:100%;
    border: none;
    left:7px;
    top:40%;
    text-align:center;
    width: 35px;
    height: 35px;
    z-index: 2;
    line-height: 15px;
    cursor: pointer;
}

.Carouselnextbtn:hover{
    background-color:#ffffff71;
    border: none;
}
.Carousellastbtn:hover{
    background-color:#ffffff71;
    border: none;
}


.Accounttext{
    margin: auto 0px auto 20px;
    
}

.Accounttext span{
    font-size:3vw;;
    padding: 10px 0px;
    white-space: nowrap;
}

.fraction{
    font-weight: bolder;
    color: #e48500;
}

.Updata{
    font-size: 18px;
    color: #000;
}



.report_btn{
    padding: 2px 3px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

#updata_img{
        opacity: 0;
        position: absolute;
        overflow: hidden;
        right: 10px;
        bottom: 10px;
        height: 133px;
        width: 133px;
        cursor: pointer;
}

.inputImageview1{
    width: 130px;
    height: 130px;
    font-size: 4rem;
    margin: 0px 10px 10px 10px;
    border: 1px #000 solid;
    text-align: center;
    color: #000;
    text-decoration: none;
    line-height: 120px;
}

.Housing_Profile{
    width: 20%;
    z-index: 0;
}

.Housing_Profile_content{
    margin: 10px 10px;
}

.Houseimg{
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
    height: 100%;
}

.Housing_Profile a {
    line-height: 1.7rem;
    color: #000;
    text-decoration: none;
}
.price {
    color: #ff0000;
    font-weight: bolder;
    font-size: 1.3rem;
}



.text1{
    font-weight: bolder;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    padding: 3px 0px;
    cursor: pointer;
}
.text2:hover{
    color: #ffa435;
}

.text2{
    font-weight: bolder;
    font-size: 0.5vw;
    text-align: justify;
    cursor: pointer;
}
.text1:hover{
    color: #ffa435;
    
}

.text3{
    font-weight: bolder;
    font-size: 0.5vw;
}

.text4{
    font-weight: bolder;
    font-size:1vw;
}

.Housing_Profile span{
    padding: 3px 0px;
}


.Like{
    right: 20px;
    top: 15px;
    font-size: 25px;
    z-index: 3;
    cursor: pointer;
}


.Account_collect_title{
    font-size: 30px;
    padding: 20px 0px;
    font-weight: bolder;
    margin-left: 40px;
}

.Account_collect{
    margin: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#updataAccount_btn{
    border: 0px;
    background-color: #fff;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
}

#pagination {
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
    list-style: none;
    margin: auto;
}
#pagination li a {
    text-decoration: none;
    border-radius: 7px;
    border: 1px #000 solid;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

.NowPage {
    color: #ffffff;
    background-color: #000000;
}

.otherPage {
    color: #000;
    background-color: #ffffff;
}
.unit{
    font-size: 12px;
}

@media screen and (max-width: 1400px) {
    /* calc(100% - 24px); */
}
@media screen and (max-width: 1024px) {
    .filter_centent_width{
        width: 80%;
    }
    .filter_width{
        width: 80%;
    }
}
@media screen and (max-width: 992px) {
    .filter_centent_width{
        width: 80%;
    }
    .Housing_Profile{
        width: 25%;
        z-index: 0;
    }
    .Houseimg{
        width: 100%;
        border-radius: 5%;
        overflow: hidden;
        }
    .text1{
        font-size: 1rem;
    }
    .filter_width{
        width: 80%;
    }
}
@media screen and (max-width: 859px) {
    .filter_centent_width{
        width: 65%;
    }
    .Housing_Profile{
        width: 33.3%;
        z-index: 0;
    }
    .Houseimg{
        width: 100%;
        border-radius: 5%;
        overflow: hidden;
        
    }
    .filter_width{
        width: 65%;
    }
    #other_value{
        width: 90px;
    }
}
@media screen and (max-width: 768px) {
    .filter_centent_width{
        width: 65%;
    }
    .Housing_Profile{
        width: 33.3%;
        z-index: 0;
    }
    .Houseimg{
        width: 100%;
        border-radius: 5%;
        overflow: hidden;
        
    }
    .filter_width{
        width: 65%;
    }
    #other_value{
        width: 90px;
    }
}

@media screen and (max-width: 720px) {
    #filter_view{
        display:none;
    }
    
}

@media screen and (max-width: 576px) {
    
    .Housing_Profile{
        width: 50%;
        z-index: 0;
    }
    .Houseimg{
        width: 100%;
        border-radius: 5%;
        overflow: hidden;
    }
    .Accountimg{
        height: 240px;
        width: 240px;
    }
    
}
@media screen and (max-width: 360px) {
    .filter{
        display:none;
    }
    .Housing_Profile{
        width: 100%;
        z-index: 0;
    }
    .Houseimg{
        width: 100%;
        border-radius: 5%;
        overflow: hidden;
    }
}