*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei' ;
}

#content{
    padding-top: 80px;
}


.Accont_content_100w{
    width: 100%;
    border-bottom: 2px #000 solid;
}

.Accont_content{
    margin: 0px 100px;
    padding-bottom: 30px;
}

.Accountimg{
    width:300px;
    overflow: hidden;
    border: solid;
    
}

.Accounttext{
    margin: auto 0px auto 20px;
    
}

.Accounttext span{
    font-size: 1.5rem;
    padding: 10px 0px;
}

.fraction{
    font-weight: bolder;
    color: #e48500;
}

.Updata{
    font-size: 18px;
    color: #000;
}



.report_btn{
    padding: 2px 3px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}


.Housing_Profile{
    width: 20%;
    z-index: 0;
}

.Housing_Profile_content{
    margin: 10px 10px;
}

.Houseimg{
    width: 100%;
    border-radius: 10%;
    overflow: hidden;
}

.Housing_Profile a {
    line-height: 1.7rem;
    color: #000;
    text-decoration: none;
}
.price {
    color: #ff0000;
    font-weight: bolder;
}



.text1{
    font-weight: bolder;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text2{
    font-weight: bolder;
    font-size: 12px;
    text-align: justify;

}

.text3{
    font-weight: bolder;
    font-size: 12px;
}

.text4{
    font-weight: bolder;
    font-size:18px;
}

.Housing_Profile span{
    line-height: 1.7rem;
}


.Like{
    right: 20px;
    top: 15px;
    font-size: 25px;
    z-index: 3;
    cursor: pointer;
}


.Account_collect_title{
    font-size: 30px;
    padding: 20px 0px;
    font-weight: bolder;
    margin-left: 40px;
}

.Account_collect{
    margin: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#updataAccount_btn{
    border: 0px;
    background-color: #fff;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
}

