*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei';
}

#content{
    padding-top:140px;
    width: 100%;
    z-index: 0;
}

#content_in{
    margin:0px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.Housing_Profile{
    width: 20%;
    z-index: 0;
}
.Housing_Profile_content{
    margin: 10px 10px;
}


.Housing_Profile span{
    line-height: 1.7rem;
}

.Houseimg{
    width: 100%;
    border-radius: 10%;
    overflow: hidden;
}

.Like{
    right: 20px;
    top: 15px;
    font-size: 25px;
    color: #ff0000;
    cursor: pointer;
}

.Housing_Profile a {
    line-height: 1.7rem;
    color: #000;
    text-decoration: none;
}


.text1 {
    font-weight: bolder;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text2 {
    font-weight: bolder;
    font-size: 12px;
    text-align: justify;
}

.text3 {
    font-weight: bolder;
    font-size: 12px;
}

.text4 {
    font-weight: bolder;
    font-size: 18px;
}

.fraction {
    color: #e48500;
    font-size: 12px;
    font-weight: bolder;
}
.price {
    color: #ff0000;
    font-weight: bolder;
}
