*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei';
}

#content{
    padding-top:140px;
    width: 100%;
    z-index: 0;
}

#content_in{
    margin:0px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.Housing_Profile{
    width: 20%;
    z-index: 0;
}
.Housing_Profile_content{
    margin: 10px 10px;
}


.Housing_Profile span{
    line-height: 1.7rem;
    margin-left:10px;
}

.Houseimg{
    width: 100%;
    border-radius: 10%;
    overflow: hidden;
}

.Like{
    right: 20px;
    top: 15px;
    font-size: 25px;
    color: #ff0000;
    cursor: pointer;
}



.text1{
    width: 250px;
    font-weight: bolder;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text2{
    font-weight: bolder;
    font-size: 14px;
    text-align: justify;

}

.text3{
    font-weight: bolder;
    font-size: 14px;
}

.text4{
    font-weight: bolder;
    font-size:20px;
}

