*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #d0d0d072;
}

#body_width100{
    top: 50px;
    width: 100%;

}



#body_content{
    width: 1000px;
    height: 500px;
}

#body_content_header{
    background-color: #fff;
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom: 2px #000 solid;
}

#body_content_footer{
    background-color: #fff;
    width: 100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top: 2px #000 solid;
}

#body_content_footer_content{
    margin: auto 30px;
    height: 50px;
    align-items: center;
}

#body_content_header_content{
    margin: auto 30px;
    height: 50px;
    align-items: center;
}

#body_content_header_content a{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

#body_content_body{
    background-color: #fff;
}

#body_content_body_content{
    margin: auto 30px;

}

.Label div ul{
    list-style: none;
}
.Label div ul li{
    padding: 10px 10px 10px 0px;
    margin: auto 0px;
}

.Label div ul li a{
    text-decoration: none;
    color: #000;
}

.Label div ul li a:focus{
    color: #ffa435;
}


.filter_title{
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.location_drop_down{
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}

.drop-down{
    padding-right: 10px;
}

.amount{
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}

.Label_title{
    font-size: 20px;
    font-weight: bolder;
}

.spacing{
    padding-bottom: 20px;
}

#body_content_footer_content a input{
    padding: 5px 10px ;
    font-size: 1rem;
    border-radius: 10px;

}

.credit_score div{
    padding-right: 10px;

}

.credit_score div button{
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #fff;
}

.credit_score div button:focus{
    color: #fff;
    background-color: #000000;
}