*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei';
}

body{
    background-color: #d0d0d072;
}





#filter-body_content{
    width: 900px;
    border: 1px #000 solid;
    border-radius: 30px;
    overflow: hidden;
}

#filter-body_content_header{
    background-color: #fff;
    width: 100%;
    border-bottom: 2px #000 solid;
}

#filter-body_content_footer{
    background-color: #fff;
    width: 100%;
    border-top: 2px #000 solid;
}

#filter-body_content_footer_content{
    margin: auto 30px;
    height: 50px;
    align-items: center;
}

#filter-body_content_footer_content a input{
    padding: 5px 10px;
    border-radius: 20px;
}

.filterbtn1{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 5px;
}

.filterbtn2{
    color: #fff;
    background-color: black;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 5px;
}

#filter-body_content_header_content{
    margin: auto 30px;
    height: 50px;
    align-items: center;
}
#filter-body_content_header_content span{
    font-size: 24px;
    font-weight: bolder;
}

#filter-body_content_header_content button{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    background-color: #fff;
    border: 0px;
}

#filter-body_content_body{
    padding: 20px 0px;
    height: 500px;
    background-color: #fff;
}

#filter-body_content_body_content{
    margin: auto 30px;
    
}

.Label{
    padding: 5px 0px;
}

.Label div ul{
    list-style: none;
}
.Label div ul li{
    padding: 10px 10px 10px 0px;
    margin: auto 0px;
}

.Label div ul li a{
    text-decoration: none;
    color: #000;
}

.Label div ul li a:focus{
    color: #ffa435;
}


.filter_title{
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.location_drop_down{
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}

.drop-down{
    padding: 10px 0px;
    font-size: 1.3rem;
}

.amount{
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}

.Label_title{
    font-size: 1.3rem;
    font-weight: bolder;
    margin: auto 5px;
}

.spacing{
    padding-bottom: 20px;
}

#body_content_footer_content a input{
    padding: 5px 10px ;
    font-size: 1rem;
    border-radius: 10px;

}

.credit_score div{
    padding-right: 10px;

}

.credit_score div button{
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #fff;
}

.credit_score div button:focus{
    color: #fff;
    background-color: #000000;
}

#townSelect{
    font-size: 1.3rem;;
}

#filter_otherbtn_content{
    display: none;
    box-shadow: 0 0 4px #000;
    border-radius: 25px;
    /* position: fixed; */
    z-index: 4;
    /* top: 160px; */
    right: 30px;
    width: 400px;
    height: 370px;
    background-color: #fff;
    border: 1px #000 solid;
}

#filter_minimumebtn_content{
    display: none;
    box-shadow: 0 0 4px #000;
    border-radius: 25px;
    /* position: fixed; */
    z-index: 4;
    /* top: 160px; */
    left: 300px;
    width: 350px;
    height: 200px;
    background-color: #fff;
    border: 1px #000 solid;
}

#filter_location_content{
    display: none;
    box-shadow: 0 0 4px #000;
    border-radius: 25px;
    /* position: fixed; */
    z-index: 4;
    /* top: 160px; */
    /* left: 100px; */
    width: 350px;
    height: 200px;
    background-color: #fff;
    border: 1px #000 solid;
}