*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei' ;
}


header{
    flex-direction: column;
    width: 100%;
    height:59px;
    position: fixed;
    background-color: #fff;
    border-bottom: 2px #000 solid;
    z-index: 2;
}

#header_in{
    padding: auto 60px;
    margin: auto 40px;
    align-items: center;
    height: 100%;
    

}



.filter{
    width: 400px;
    height: 40px;
    border-radius: 100px;
    border: 1px #000 solid;
    background-color: #F2F2F2;
}

.back_home a{
    padding: 0px 10px;
    color: #000;
}

.back_home a i{
    font-size: 1.2rem;
}


.avatar{
    height:30px;
    width: 30px;
    border-radius: 100%;
    border: 1px #000 inset;
    overflow: hidden;
}


.collect_header{
    font-size: 1.5rem;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    border-bottom:1px #000 solid;
}

.collect_header div{
    margin: auto 40px;
}

.collect_header div button{
    padding: 5px 10px;
    font-size: 16px;
    background-color: #000;
    color:#fff;
    border-radius: 25px;
}

#content{
    padding-top: 150px;
    z-index: 0;
}

#content_in{
    margin: auto 100px;
}

/*https://tools.wingzero.tw/article/sn/990 */