*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei' ;
}

#content{
    padding-top: 80px;
    z-index: 0;
}


#content_in{
    margin: 0px 300px;

}

.notifytitle{
    padding: 20px 0px;
    font-size: 32px;
    font-weight: bolder;
}

.Accountnotify{
    padding-bottom: 40px;
}

.Accountnotify_img{
    border-radius: 100%;
    border: 1px #000 solid;
    width: 150px;
    overflow: hidden;
    align-items: center;
}

.Accountnotify_imgAccount{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.Accountnotify_text{
    width: 100%;
    padding-left: 20px;
    margin: auto 0px;
}

.text1{
    padding: 5px 0px;
    font-size: 30px;
    font-weight: bolder;
}

.text2{
    padding: 5px 0px;
    font-size: 20px;
}

.text3{
    padding: 5px 0px;
    font-size: 18px;
}