*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei';
}





#report_body_content_body_content div{
    padding: 20px auto;
}

#report_body_content_body_content a{
    padding: 5px 0px;
    width: 100%;
}

.report_text1{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 20px 0px;
}

.report_btn1{
    width: 80%;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    padding: 5px 0px;
    margin: 5px 10px;
}

.report_btn2{
    width: 80%;
    background-color: #fff;
    color: #000;
    border-radius: 25px;
    padding: 5px 0px;
    margin: 5px 10px;
}


.report_btnwidth{
    width: 100%;
}

.report_btnwidth a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#Reportvalidate{
    font-size: 12px;
    font-weight: bolder;
    color: #ff0000;
    text-align: center;
}