*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei' ;
}

#content{
    padding-top: 150px;
    z-index: 0;
}


#content_in{
    margin: auto 200px;
}

.text1{
    padding: 5px 0px;
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
}

.text2{
    padding: 5px 0px;
    font-size: 30px;
    font-weight: bolder;
    color:#FF7A00;
}

.text3{
    padding: 5px 0px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

.text4{
    padding: 5px 0px;
    font-size: 14px;
    font-weight: bolder;
}

.text5{
    padding: 5px 0px;
    font-size: 22px;
    font-weight: bolder;
}

.item_content {
    align-items: center;
    padding: 10px 0px;
}

.cancel_appointment_btn{
    border-radius: 10px;
    padding: 5px 10px;
    background-color: black;
    color: #fff;
}

.item_content_img{
    width: 230px;
    overflow: hidden;
    cursor: pointer;
}

.delete_btn1 {
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    padding: 5px 50px;
    margin: 0px 10px;
}

.delete_btn2 {
    font-weight: bolder;
    font-size: 1rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: 25px;
    border: 2px #000 solid;
    padding: 3px 50px;
    margin: 0px 10px;
}

.noreservedtext{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #ff0000;
}