*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei';
}

#check_body_content{
    width: 800px;
    height: 600px;
}

#check_body_content_body_content{
    width: 50%;
    padding: 10px;
}


#check_body_content_body_content div{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}

#check_body_content_body_content a{
    padding: 5px 0px;
}


.check_text1 label{
    font-size: 16px;
    font-weight: bolder;
    width: 110px;
    text-align: right;
}

.check_text1 input{
    width:100%;
    padding: 3px 0px;
    margin: 3px 0px;
    text-align: center;
}

.check_text1 textarea{
    width: 400px;
    height: 100px;
    overflow-y: scroll;
    resize: vertical;
}

.check_btn1{
    width: 100%;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    padding: 5px 0px;
}

