*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei';
}

#check_body_content{
    width: 500px;
    height: 600px;
}

#check_body_content_body_content{
    width: 80%;
    padding: 10px 0px;
}


#check_body_content_body_content div{
    padding: 10px 0px;
}

#check_body_content_body_content a{
    padding: 5px 0px;
}


.check_text1 label{
    
    font-size: 16px;
    font-weight: bolder;
}

.check_text1 input{
    width:200px;
    padding: 3px 0px;
    margin: 3px 0px;
    text-align: center;
}

.check_text1 textarea{
    width: 100%;
    height: 60px;
}

.check_btn1{
    width: 100%;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    padding: 5px 0px;
}

