*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei' ;
}


header{
    flex-direction: column;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 10;
}

body.relative{
    z-index: 0;
    background-color: #fff;
}

#header_in{
    margin: 5px 40px;
    align-items: center;
    height: 100%;
}


.filter{
    width: 400px;
    height: 40px;
    border-radius: 100px;
    border: 1px #000 solid;
    background-color: #F2F2F2;
    cursor:pointer  ;
}

.filter a{
    text-decoration: none;
    color: #000;
}

.filter_text span {
    text-decoration: none;
}

.filter_text{
    height: 100%;
    margin: auto 10px auto 40px;
    align-items: center;
}

.icon_modeling{
    width: 20px;
    height: 20px;
    background-color: #fff;
    padding: 5px;
    border-radius: 100%;
    border: 1px #000 inset;
    text-align: center;
}
.icon_modeling:hover{
    background-color: #c0c0c0;
}


#Useravatar{
    height:40px;
    width: 40px;
    border-radius: 100%;
    border: 1px #000 inset;
    overflow: hidden;
    cursor:pointer  ;
}


#content{
    padding-top:180px;
    width: 100%;
    background-color: #fff;
}

#divnav ul a{
    width:auto;
    text-decoration: none;
    color: #000;
    text-align: center;
}
#divnav ul{
    list-style: none;
}

#divnav{
    border-top:1px #000 solid ;
    border-bottom:1px #d8d8d8 inset ;
    background-color: #fff;
    width: 100%;
    overflow-x:scroll;
    position: fixed;
    z-index: 0;
    box-shadow: 0px 5px 4px 0px #292929a6;
}

.navbtn{
    border: 0px;
    padding: 5px;
    margin:10px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}
.navbtn:hover{
    background-color: #a4a4a4;
    cursor: pointer;
}

.onnavbtn{
    border: 0px;
    padding: 5px;
    margin:10px;
    text-align: center;
    background-color: #a4a4a4;
    cursor: pointer;
}

.navbtn span{
    white-space: nowrap;
}


.Housing_Profile{
    width: 20%;
    z-index: 0;
}

.Carousellastimgul{
    height: 100%;
    width: 100%;
    overflow: hidden;
    list-style: none;
}

.Carouselnextbtn{
    background-color:#ffffffa0;
    border-radius:100%;
    border: none;
    right:7px;
    top:40%;
    text-align:center;
    width: 35px;
    height: 35px;
    z-index: 2;
    line-height: 15px;
    cursor: pointer;
}

.Carousellastbtn{
    background-color:#ffffffa0;
    border-radius:100%;
    border: none;
    left:7px;
    top:40%;
    text-align:center;
    width: 35px;
    height: 35px;
    z-index: 2;
    line-height: 15px;
    cursor: pointer;
}

.Carouselnextbtn:hover{
    background-color:#ffffff71;
    border: none;
}
.Carousellastbtn:hover{
    background-color:#ffffff71;
    border: none;
}


.Housing_Profile_content{
    margin: 10px 10px;
}

.Houseimg{
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
    height: 13.5vw;
}


#content_in{
    margin: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.text1{
    font-weight: bolder;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    padding: 3px 0px;
}
.text2:hover{
    color: #ffa435;
}

.text2{
    font-weight: bolder;
    font-size: 0.5vw;
    text-align: justify;
    cursor: pointer;
}
.text1:hover{
    color: #ffa435;
    
}

.text3{
    font-weight: bolder;
    font-size: 0.5vw;
}

.text4{
    font-weight: bolder;
    font-size:1vw;
}

.Housing_Profile span{
    padding: 3px 0px;
}

.Housing_Profile a{
    color: #000;
    text-decoration: none;
}

.relative{
    position: relative;
    z-index: 0;
}

.absolute{
    position: absolute;
    z-index: 1;
}

.Like{
    right: 20px;
    top: 15px;
    font-size: 25px;
    z-index: 3;
    cursor: pointer;
}

.collect_header{
    width: 100px;
    font-size: 1rem;
    font-weight: bolder;
}

.fraction{
    color: #e48500;
    font-size: 12px;
    font-weight: bolder;
}

.price{
    color: #ff0000;
    font-weight: bolder;
    font-size: 1.3rem;
}

.unit{
    font-size: 12px;
    font-weight: bolder;
}


#filter{
    display: none;
}

.Label ul {
    list-style: none;
}

.Label ul li {
    padding: 10px 10px 10px 0px;
    margin: auto 0px;
}

.Label_btn_off {
    font-size: 16px;
    border: 0px;
    background-color: #fff;
    cursor: pointer;
}

.Label_btn_on {
    font-size: 16px;
    color: #ffa435;
    cursor: pointer;
    border: 0px;
    background-color: #fff;
}

#noDataText{
    width: 100%;
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
}

#pagination{
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
    list-style: none;
    margin: auto;
}

#pagination li a{
    text-decoration: none;
    border-radius: 7px;
    border: 1px #000 solid;
    padding: 5px;
    margin: 5px;
    font-size: 16px;

}

.NowPage{
    color: #ffffff;
    background-color: #000000;
}
.otherPage{
    color: #000;
    background-color: #ffffff;
}
.otherPage:hover{
    color: #000;
    background-color: #cccccc;
}

footer{
    height: auto;
    
}

#County{
    text-align: center;
    font-size: 1.3rem;
}


@media screen and (max-width: 1400px) {
    /* calc(100% - 24px); */
}
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 992px) {
    .Housing_Profile{
        width: 25%;
        z-index: 0;
    }
    .Houseimg{
        width: 100%;
        border-radius: 5%;
        overflow: hidden;
        height: 170px;
    }
    .text1{
        font-size: 1rem;
    }
}
@media screen and (max-width: 768px) {
    .filter{
        display:none;
    }
    .Housing_Profile{
        width: 33.3%;
        z-index: 0;
    }
    .Houseimg{
        width: 100%;
        border-radius: 5%;
        overflow: hidden;
        height: 170px;
        
    }
}
@media screen and (max-width: 576px) {
    .filter{
        display:none;
    }
    .Housing_Profile{
        width: 50%;
        z-index: 0;
    }
    .Houseimg{
        width: 100%;
        border-radius: 5%;
        overflow: hidden;
        height: 120px;
    }
}
@media screen and (max-width: 360px) {
    .filter{
        display:none;
    }
    .Housing_Profile{
        width: 100%;
        z-index: 0;
    }
    .Houseimg{
        width: 100%;
        border-radius: 5%;
        overflow: hidden;
        height: 170px;
    }
}

.filter_nav{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 50px;
}
.filter_nav:hover{
    background-color: #ffffff;
    box-shadow: 0 0 4px #000;
}

.onfilter_nav{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 4px #000;
}


.filter_nav_btn{
    font-size: 1rem;
    padding: 5px 10px;
    margin:0px 5px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: bolder;
}

.filter_nav_btn:hover{
    border-bottom:2px #000 solid ;
    cursor: pointer;
}
.onfilter_nav_btn{
    font-size: 1rem;
    padding: 5px 10px;
    margin:0px 5px;
    background-color: transparent;
    border: 0px;
    border-bottom:2px #000 solid ;
    cursor: pointer;
    font-weight: bolder;
}


#locationbtn{
    height:100% ;width: 25%;display: flex;align-items: center;justify-content:center;
}
#locationbtn:hover{
    text-decoration: underline;
}

#Viewingtimebtn{
    height:100% ;width: 25%;display: flex;align-items: center;justify-content:center;
}
#Viewingtimebtn:hover{
    text-decoration: underline;
}

#otherbtn{
    height:100% ;width: 25%;display: flex;align-items: center;justify-content:center;
}
#otherbtn:hover{
    text-decoration: underline;
}