*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei' ;
}

.Accountcentent{
    border: 1px #000 solid;
    overflow-y: scroll;
    margin: 0px auto;

}

.Accountcentent table{
    width: 90%;
}


.Accountcentent table tr th{
    width: auto;
    text-align: center;
    padding: 15px 0px;

}

.Accountcentent table tr td{
    width: auto;
    text-align: center;
    padding: 15px 0px;

}

.Accountcentent table tr td button{
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

#reporting_body_content{
    width: 400px;
}

#reporting_body_content_header{
    background-color: #fff;
    width: auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top: 2px #000 solid;
    border-left: 2px #000 solid;
    border-right: 2px #000 solid;
    
}

#reporting_table{
    width: 80%;
    font-size: 20px;
    text-align: center;
}

#reporting_table tr{
    width: 80%;
    line-height: 40px;
}

#reporting_table tr td{
    font-size: 18px;
}

