*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei' ;
}

.Accountcentent{
    border: 1px #000 solid;
    overflow-y: scroll;
    margin: 0px auto;
}

.Accountcentent table{
    width: 90%;
}


.Accountcentent table tr th{
    width: auto;
    text-align: center;
    padding: 15px 0px;
}

.Accountcentent table tr td{
    width: auto;
    text-align: center;
    padding: 15px 0px;
}

.Accountcentent table tr td button{
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    padding: 5px 10px;
}