*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei' ;
}



.reviewcentent{
    border: 1px #000 solid;
    overflow-y: scroll;
    margin: 0px auto;
}

.reviewcentent table{
    width: 90%;
}


.reviewcentent table tr th{
    width: auto;
    text-align: center;
    padding: 15px 0px;
}

.reviewcentent table tr td{
    width: auto;
    text-align: center;
    padding: 15px 0px;
}

.reviewcentent table tr td button{
    font-size: 1rem;
    background-color: #fff;
    border: 0px;
    text-decoration:underline;
}

.reviewcentent table tr td div {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.rad{
    color: #ff0000;
    font-weight: bolder;
    font-size: 1rem;
}

.reviewcentent table tr td div input{
    padding: 5px 10px;
    margin: 2px 0px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: bolder;
}

.Ok{
    color: #000;
    background-color: #C8F2FF;
}

.On{
    color: #fff;
    background-color: #ff0000;
}

#Review_body_content{
        width: 400px;
}

#Review_body_content_header{
    background-color: #fff;
    width: auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top: 2px #000 solid;
    border-left: 2px #000 solid;
    border-right: 2px #000 solid;
}

.Review_btn{
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.reason_input{
    padding: 15px 0px;
    font-size: 20px;
    align-items: center;
    font-weight: bolder;
}




.Carouselnextbtn{
    background-color:#ffffffa0;
    border-radius:100%;
    border: none;
    right:7px;
    top:47%;
    text-align:center;
    width: 35px;
    height: 35px;
    z-index: 2;
    line-height: 15px;
    cursor: pointer;
}

.Carousellastbtn{
    background-color:#ffffffa0;
    border-radius:100%;
    border: none;
    left:7px;
    top:47%;
    text-align:center;
    width: 35px;
    height: 35px;
    z-index: 2;
    line-height: 15px;
    cursor: pointer;
}

.Carouselnextbtn:hover{
    background-color:#ffffff71;
    border: none;
}
.Carousellastbtn:hover{
    background-color:#ffffff71;
    border: none;
}
