.flexcolumn{
    display: flex;
    flex-direction: column;
}

.flexcenter{
    display: flex;
    justify-content: center;
}

.flexbetween{
    display: flex;
    justify-content: space-between;
}


.flexrow{
    display: flex;
    flex-direction: row;
}

.relative{
    position: relative;
    z-index: 0;
}

.absolute{
    position: absolute;
    z-index: 1;
}

.flexend{
    display: flex;
    align-items: end;
}