*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei' ;
}

.flexcolumn{
    display: flex;
    flex-direction: column;
}

.flexcenter{
    display: flex;
    justify-content: center;
}

.flexbetween{
    display: flex;
    justify-content: space-between;
}


.flexrow{
    display: flex;
    flex-direction: row;
}

.relative{
    position: relative;
    z-index: 0;
}

.fixed{
    position: fixed;
}

.absolute{
    position: absolute;
    z-index: 1;
}

.flexend{
    display: flex;
    align-items: end;
}

.flexright{
    display: flex;
    justify-content: right;
}

#usermenu{
    top: 30px;
    right: 50px;
    z-index: 11;

}

#rentermenu{
    top: 30px;
    right: 120px;
    z-index: 11;

}

#publishermenu{
    top: 30px;
    right:230px;
    z-index: 11;

}



#adminmenu{
    top: 30px;
    right: 330px;
    z-index: 11;

}

.userfunction {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-out;
}

.show {
    height: 250px;
}


.userfunction ul{
    margin: 10px 10px ;
    padding: 10px 0px;
    list-style: none;
    background-color: #fff;
    border-radius: 20px;
    border: 2px #000 solid;
    font-size: 14px;
    overflow: hidden;
}

.userfunction ul a{
    color: #000;
    text-decoration: none;
}

.userfunction ul a li{
    text-align: center;
    margin: 0px auto;
}


.userfunction ul a li button{
    padding: 8px 25px;
    background-color: #fff;
    border: 0px;
    width: 100%;
}

.userfunction ul a li button:hover{
    background-color: #b9b9b9;
}

.mask{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 90000;
    background:rgba(0, 0, 0, 0.6);
}

.htmlMask{
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.filter_Location{
    position: absolute;
    width: 100%;
    top: 10%;
    z-index: 99999;
}

.updateAccount{
    position: absolute;
    width: 100%;
    top: 10%;
    z-index: 99999;
}

.report{
    position: absolute;
    width: 100%;
    top: 10%;
    z-index: 99999;
    display: none;
}

#check{
    position: absolute;
    width: 100%;
    top: 10%;
    z-index: 99999;
    display: none;
}

#body_content{
    padding: 20px 0px;
}

#update_body_content{
    width: 500px;
    height: 400px;
}

#update_body_content_body{
    border: #000 1px solid;
    padding-bottom:20px;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    background-color: #fff;
    overflow: hidden;
}

#update_body_content_header{
    width: auto;
    border:1px #000 solid;
    background-color: #fff;
    overflow: hidden;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
}

#body_content_header_content button{
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #000;
    border: 0px;
}

#login{
    display: none;
}

.login_Location{
    position: absolute;
    width: 100%;
    top: 100px;
    z-index: 99999;
}

.forgetpassword{
    position: absolute;
    width: 100%;
    top: 100px;
    z-index: 99999;
}

#forgetpassword{
    display: none;
}