*{
    padding: 0px;
    margin: 0px;
    font-family: 'Microsoft JhengHei';
}

#update_body_content_body_content{
    width: 80%;
    padding: 10px 0px;
}


#update_body_content_body_content div{
    padding: 10px 0px;

    
}

#update_body_content_body_content a{
    padding: 5px 0px;
}

.update_text1{
    display: flex;
    justify-content: right;
    margin-right: 60px;
}


.update_text1 label{

    font-size: 16px;
    font-weight: bolder;
}

.update_text1 input{
    width: 70%;
    padding: 3px 0px;
}

.update_btn1{
    
    width: 70%;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    margin: 5px 0px;
    padding: 5px 0px;
    font-size: 14px;
}

#update_Account{
    display: none;
}


